VITE_HOME_REMOTE=https://your-home-domain.com/assets/remoteEntry.js
VITE_PRODUCT_REMOTE=https://your-product-domain.com/assets/remoteEntry.js
VITE_SHOP_REMOTE=https://your-shop-domain.com/assets/remoteEntry.js